/* BLOQUE DE TITULO */
    #title {
        margin-left: 145px;
    }

    .separador-invisible {
        height: 20px; /* Puedes ajustar esta altura según tus necesidades */
        width: 100%;
    }

/* BLOQUE DE TEXTO */
    .contenedor {
        display: flex;
        flex-direction: column; /* Colocar imagen arriba del texto */
        width: 80%;
        margin: 20px auto;
        padding: 20px;
        background-color: #F9F9F9;
        border-radius: 20px;
        align-items: center;
        text-align: left;
    }

    .contenedor img {
        width: 55px;
        padding: 15px;
        margin-bottom: 20px;
        height: auto;
        background-color: #EDF1F2;
        border-radius: 20px;
    }

/* TITULAR */
.contenedor-recuadro {
    position: relative; /* Necesario para que el fondo del texto se posicione bien */
    display: flex;
    width: auto;
    height: 500px;
    margin: 0px 120px 0px 120px;
    background-image: url("imagenPrueba2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}

/* Estilo para colocar el texto abajo */
    .contenedor-texto {
        width: 97.24%; /* Ocupar todo el ancho del contenedor */
        padding: 20px;
        border-radius: 12px;
        text-align: left;
        background: linear-gradient(
            to top, 
            #F2F1ED 0%,   /* Color fuerte abajo */
            rgba(0, 0, 0, 0) 100%    /* Transparente arriba */
        );
        color: white; /* Color de texto blanco para mejor contraste */
        position: absolute;
        bottom: 0;
    }

    .contenedor-imagen-sobre-texto img {
        max-width: 100%;
        height: auto;
        border-radius: 12px;
        margin-bottom: 15px;
    }

    .cuadro-texto {
        display: flex; /* Flexbox para alinear elementos uno al lado del otro */
        padding: 20px; /* Espacio interno del recuadro */
        width: 80%; /* Ancho del recuadro */
        margin: 20px auto; /* Centrar el recuadro horizontalmente */
        background-color: #f9f9f9; /* Color de fondo del recuadro */
        border-radius: 12px; /* Puntas redondeadas */
    }

    /* Estilos para la parte del texto */
    .texto {
        flex: 1; /* Hace que el texto ocupe la mitad del espacio */
        padding-right: 20px; /* Espacio entre el texto y la imagen */
        font-family: Arial, sans-serif;
        color: #333; /* Color del texto */
    }

    /* Estilos para la imagen */
    .imagen {
        flex: 1; /* Hace que la imagen ocupe la mitad del espacio */
        display: flex; /* Flexbox para centrar la imagen */
        justify-content: right;
        align-items: center;
    }

/* ARTICULOS DESTACADOS */

    .destacados-bar {
        display: flex;
        align-items: center;
        justify-content: center; /* Alinea los botones en el centro */
        padding: 0 20px;
        height: 100%;
    }

    .article-container {
        display: flex;  
        background-color: green;
        margin-left: 120px;
    }

    .article {
        display: inline-block;
        width: 275px;
        height: auto;
        margin: 0px 20px 25px 0px;
        border-radius: 20px;
        background-color: #F9F9F9;
        transition: background-color 0.3s ease;
    }

    .article img {
        display: flex;
        margin: 10px 10px 10px 10px;
        width: 255px; /* Fija solo el ancho */
        height: 250px; /* Permite que la altura se ajuste automáticamente */
        border-radius: 20px;
        object-fit: cover; /* Ajusta la imagen para que llene el espacio sin distorsionarse */
    }

    .article-text {
        display: flex;
        margin: 10px 10px 5px 10px;
    }

    .article:hover {
        background-color: #D2E3FC;
    }

/* BLOQUES DE ARTICULOS Y PERFIL */

    .body-bar {
        display: flex;
        justify-content: center; /* Alinea los botones en el centro */
        padding: 0 20px;
        height: 100%;
    }

    .allarticles-container {
        display: inline-block;  
        margin-left: 100px;
        width: 80%;
    }

    .profile-container {
        display: inline-block;  
        margin-right: 110px;
        width: 20%;
    }

/* DESCRIPCION DE ARTICULOS */
    .big-article {
        display: flex; 
        padding: 0px 0px;
        margin: 0px 17px 20px 0px; 
        background-color: #f9f9f9; 
        border-radius: 20px; 
    }

    .big-article-text {
        flex: 1;
        margin: 20px 10px 10px 10px;
        text-decoration: none;
    }


    .big-article-text h2 {
        margin: 0px 0px 5px 0px;
    }

    .big-article-text p {
        margin: 0px 0px 5px 0px;
    }

    .big-article-text a {
        text-decoration: none;
    }

    .big-article img {
        display: flex;
        margin: 10px 10px 10px 10px;
        width: 350px; /* Fija solo el ancho */
        height: 200px;
        border-radius: 20px;
        object-fit: cover; /* Ajusta la imagen para que llene el espacio sin distorsionarse */
    }

    /* Sección del Autor */

/* SECCIÓN DE PERFIL */
    .profile {
        display: inline-block;
        width: 275px;
        height: auto;
        margin: 0px 15px 0px 16px;
        border-radius: 20px;
        background-color: #F9F9F9;
        transition: background-color 0.3s ease;
    }

    .profile img {
        display: block;
        margin: 10px auto;
        width: 125px; /* Fija solo el ancho */
        height: 125px; /* Permite que la altura se ajuste automáticamente */
        border-radius: 100%;
        object-fit: cover; /* Ajusta la imagen para que llene el espacio sin distorsionarse */
    }

    .profile h2 {
        display: block;
        margin: 5px 15px 10px 15px;
    }

    .profile p {
        display: block;
        margin: 5px 15px 10px 15px;
    }

/* Botón de Opción */
.contenedor-botones {
    display: flex;
    justify-content: center; /* Alinea los botones en el centro */
    margin-top: 20px; /* Espacio entre el párrafo y los botones */
    margin-bottom: 20px;
}

.contenedor-boton {
    width: 175px;
    height: 20px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #4285F4;
    font-family: LexendDeca_Light;
    border-radius: 50px;
    text-align: center;
    margin: 0 20px;
    transition: 0.5s ease;
}

#back-link {
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.contenedor-botondebil {
    width: 175px;
    height: 20px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #EDF1F2;
    font-family: LexendDeca_Light;
    border-radius: 50px;
    text-align: center;
    margin: 0px 0px 10px;
    transition: 0.5s ease;
}

#random-link {
    font-weight: bold;
    color: #174EA6;
    text-decoration: none;
}

.contenedor-boton:hover {
    background-color: #174EA6; 
    border-radius: 12px;
    cursor: pointer;
}