/* F U E N T E S */
    @font-face {
        font-family: BirdsOfParadise;
        src: url(../HomeScreenElements/Fonts/BirdsOfParadise.ttf);
    }

    @font-face {
        font-family: LexendDeca_Bold;
        src: url(../HomeScreenElements/Fonts/LexendDeca/LexendDeca-Bold.ttf);
    }

    @font-face {
        font-family: LexendDeca_Medium;
        src: url(../HomeScreenElements/Fonts/LexendDeca/LexendDeca-Medium.ttf);
    }

    @font-face {
        font-family: LexendDeca_Regular;
        src: url(../HomeScreenElements/Fonts/LexendDeca/LexendDeca-Regular.ttf);
    }


    @font-face {
        font-family: LexendDeca_Light;
        src: url(../HomeScreenElements/Fonts/LexendDeca/LexendDeca-Light.ttf);
    }

/* E S T I L O S - D E L - T E X T O */
    h1{
        color: #174EA6;
        font-family: LexendDeca_Bold;
        margin-bottom: 20px;
    }

    h2{
        color: #2173BB;
        font-family: LexendDeca_Medium;
        text-align: auto;
    }

    h3{
        color: #174EA6;
        font-family: LexendDeca_Regular;
        text-align: auto;
        margin: 5px;
    }

    p {
        color: #202124;
        font-family: LexendDeca_Light;
    }

/* C O N S T R U C T O R E S */
* {
    box-sizing: border-box;
  }
  
  /* Add a gray background color with some padding */
  body {
    font-family: LexendDeca_Regular;
    padding: 20px;
    background: #EDF1F2;
    margin: 0px 100px 0px 100px;
  }
  
  .header {
    background-color: #EDF1F2;
    padding: 30px;
    text-align: center;
  }
  
  .topnav {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: #EDF1F2;
  }
  
  .topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 7px 20px;
    margin: 10px 0px 10px 0px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 20px;
    transition: background-color 0.3s ease;
  }
  
  .topnav a.active {
    background-color: #D2E3FC;
    color: #174EA6;
    font-weight: bold;
  }
  
  .topnav a:hover {
    background-color: #D2E3FC;
  }
  
  /* Create a right-aligned (split) link inside the navigation bar */
  .topnav a.split {
      float: right;
      align-items: center;
      display: flex;
      background-color: white;
      align-items: center;
      color: #174EA6;
  }
  
  .topnav a.split img {
      width: 20px; 
      height: auto; 
      margin: 0px 5px 0px 0px;
  }
  
  .topnav a.split:hover {
    background-color: #D2E3FC;
  }
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {   
    float: left;
    width: 75%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
  }
  
  /* Fake image */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  
  /* Add a card effect for articles */
  .card {
     background-color: white;
     padding: 20px;
     margin-top: 20px;
     border-radius: 15px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
    border-radius: 15px;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 1400px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }
